/* You can add global styles to this file, and also import other style files */
body {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b3e6eb, #6281c9);
  background: linear-gradient(to left, #b3e6eb, #6281c9);
}

.viewBody {
  font-size: 20px;
}

h1 {
  color: white;
  font-family: 'Gothic A1', sans-serif;
  margin-bottom: 20px;
}

span {
  font-size: 20px;
  color:white;
  font-family: 'Gothic A1', sans-serif;
}

hr {
  margin-top: 10px;
}

select {
  margin: 5px 0px;
}

.no-padding {
  padding: 0 !important;
}

.white {
  color: white !important;
}

.strike-through {
  text-decoration: line-through;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-height: 8em;
  max-height: 16em;
}

strong + small {
    display: block;
}

input[type=checkbox] {
  margin-right: 1em;
  width: 100%;
}

input {
  margin: 5px 0px;
}

.panel-footer.btn {
  width: 100%;
}

div.pull-right a {
  margin-left: 1em;
}

.btn-block {
  font-size: 9px;
  width: 45%;
  display: inline-block;
}

.btn-block+.btn-block {
  margin-top: 0px;
}

.glyphicon {
  font-size: 13px;
}

.btn-sm {
  padding: 3px;
}

img {
  float: right;
}

.row.todoitem {
  display: flex;
  align-items: center;
}

.very {
  font-size: 38px;
  color:rgb(3, 64, 231);
  font-weight: bold;
}

.bold {
  font-weight: bold;
}